### Wczytanie i podgląd danych

In [7]:
import pandas as pd

superstore_df = pd.read_excel('Superstore.xlsx', sheet_name='Orders')

In [8]:
print(superstore_df.info())
print(superstore_df.describe())
superstore_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.6+ MB
None
            Row ID                     Order Date  \
count  9994.000000                           9994
mean   4997.500000  2016-04-30 00:07:12.259355648
min       1.000000            2014-01-03 00:00:00
25%    2499.250000            2015-05-23 00:00:00
50%    4997.500000            2016-06-26 00:00:00
75%    7495.750000            2017-05-14 00:00:00
max    9994.000000            2017-12-30 00:00:00
std    2885.163629                            NaN

                           Ship Date   Postal Code         Sales     Quantity  \
count                           9994   9994.000000   9994.000000  9994.000000
mean   2016-05-03 23:06:58.571142912  55190.379428    229.858001     3.789574
min              2014-01-07 00:00:00   1040.000000      0.444000     1.000000
25%              2015-05-27 00:00:00  23223.000000     17.280000     2.000000
50%              2016-06-29 00:00:00  56430.500000     54.490000     3.000000
75%              2017-05-18 00:00:00  90008.000000    209.940000     5.000000
max              2018-01-05 00:00:00  99301.000000  22638.480000    14.000000
std                              NaN  32063.693350    623.245101     2.225110

          Discount       Profit
count  9994.000000  9994.000000
mean      0.156203    28.656896
min       0.000000 -6599.978000
25%       0.000000     1.728750
50%       0.200000     8.666500
75%       0.200000    29.364000
max       0.800000  8399.976000
std       0.206452   234.260108

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

### Grupowanie danych za pomocą groupby():

Metoda groupby() w Pandas pozwala na grupowanie danych według jednej lub kilku kolumn. Po grupowaniu możemy zastosować różne funkcje agregujące, takie jak sumowanie, średnia, itp.

Po utworzeniu obiektu GroupBy, możemy zastosować różne funkcje agregujące do grup.

In [10]:
grouped_df = superstore_df.groupby('Category')

grouped_df['Sales'].sum()

Category
Furniture          741999.7953
Office Supplies    719047.0320
Technology         836154.0330
Name: Sales, dtype: float64

In [11]:
grouped_df = superstore_df.groupby(['Category', 'Sub-Category'])

grouped_df['Sales'].sum()

Category         Sub-Category
Furniture        Bookcases       114879.9963
                 Chairs          328449.1030
                 Furnishings      91705.1640
                 Tables          206965.5320
Office Supplies  Appliances      107532.1610
                 Art              27118.7920
                 Binders         203412.7330
                 Envelopes        16476.4020
                 Fasteners         3024.2800
                 Labels           12486.3120
                 Paper            78479.2060
                 Storage         223843.6080
                 Supplies         46673.5380
Technology       Accessories     167380.3180
                 Copiers         149528.0300
                 Machines        189238.6310
                 Phones          330007.0540
Name: Sales, dtype: float64

In [14]:
grouped_df = superstore_df.groupby('Category')

category_agg = grouped_df.agg({'Sales': ['sum', 'mean', 'max', 'min']}) 
category_agg

                       Sales
                         sum        mean        max    min
Category
Furniture        741999.7953  349.834887   4416.174  1.892
Office Supplies  719047.0320  119.324101   9892.740  0.444
Technology       836154.0330  452.709276  22638.480  0.990

### Grupowanie z filtrowaniem

In [15]:
filtered_df = superstore_df[superstore_df['Region'] == 'West']

grouped_filtered_df = filtered_df.groupby('Category')['Sales'].sum()

grouped_filtered_df

Category
Furniture          252612.7435
Office Supplies    220853.2490
Technology         251991.8320
Name: Sales, dtype: float64

### Agregacja na wielu kolumnach

In [19]:
grouped_df = superstore_df.groupby(['Category', 'Sub-Category'])

category_multi_agg = grouped_df.agg({
    'Sales': ['sum', 'mean'],
    'Profit': ['min', 'max']
})

category_multi_agg

                                    Sales                  Profit
                                      sum         mean        min        max
Category        Sub-Category
Furniture       Bookcases     114879.9963   503.859633 -1665.0522  1013.1270
                Chairs        328449.1030   532.332420  -630.8820   770.3520
                Furnishings    91705.1640    95.825668  -427.4500   387.5676
                Tables        206965.5320   648.794771 -1862.3124   629.0100
Office Supplies Appliances    107532.1610   230.755710 -1181.2824   793.7160
                Art            27118.7920    34.068834     0.1533   112.5740
                Binders       203412.7330   133.560560 -3701.8928  4946.3700
                Envelopes      16476.4020    64.867724     0.5508   204.0714
                Fasteners       3024.2800    13.936774   -11.8256    21.8880
                Labels         12486.3120    34.303055     0.6786   385.3752
                Paper          78479.2060    57.284092     1.0700   352.2960
                Storage       223843.6080   264.590553  -337.8060   792.2691
                Supplies       46673.5380   245.650200 -1049.3406   327.5060
Technology      Accessories   167380.3180   215.974604   -75.5958   829.3754
                Copiers       149528.0300  2198.941618    59.9980  8399.9760
                Machines      189238.6310  1645.553313 -6599.9780  2799.9840
                Phones        330007.0540   371.211534  -386.3916  1228.1787

### Grupowanie i agregacja z transformacją

In [20]:
superstore_df['Category Sales Total'] = superstore_df.groupby('Category')['Sales'].transform('sum')

superstore_df[['Order ID', 'Category', 'Sales', 'Category Sales Total']].head()

         Order ID         Category     Sales  Category Sales Total
0  CA-2016-152156        Furniture  261.9600           741999.7953
1  CA-2016-152156        Furniture  731.9400           741999.7953
2  CA-2016-138688  Office Supplies   14.6200           719047.0320
3  US-2015-108966        Furniture  957.5775           741999.7953
4  US-2015-108966  Office Supplies   22.3680           719047.0320