## Zadanie 1
Korzystając z print() wypisz liczbę 1234.

In [1]:
print(1234)

1234

## Zadanie 2
Korzystając z print() wypisz ciąg znaków 1234.

In [3]:
print('1234')

1234

## Zadanie 3
Oblicz i wypisz wynik mnożenia liczby 25 przez 4.

In [13]:
print("Wynik mnożenia: ", 25*4)

Wynik mnożenia:  100

## Zadanie 4
Oblicz i wypisz wynik dzielenia liczby 100 przez 8 w dwóch osobnych liniach.

In [11]:
print("Wynik dzielenia: ", 100/8)

Wynik dzielenia:  12.5

## Zadanie 5
Używając metod format() oraz f-string oraz przypisania wartości do zmiennych, wypisz dwukrotnie zdanie opisujące Twoje imię i wiek.

In [21]:
name = 'Dawid'
age = 35
print("Mam na imię {} i mam {} lat.".format(name, age))
print(f'Mam na imię {name} i mam {age} lat.')

Mam na imię Dawid i mam 35 lat.
Mam na imię Dawid i mam 35 lat.