Series to jednowymiarowa struktura danych, podobna do listy lub tablicy, ale z dodatkowymi możliwościami, które czynią ją potężnym narzędziem do analizy danych.

## Tworzenie Series

Możemy stworzyć Series na kilka różnych sposobów, m.in. z listy, słownika czy tablicy NumPy.

In [1]:
import pandas as pd

data = [10, 20, 30, 40, 50]
series = pd.Series(data)

print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [2]:
data_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
series_dict = pd.Series(data_dict)

print(series_dict)

a    1
b    2
c    3
d    4
dtype: int64

In [3]:
import numpy as np

series_array = pd.Series(np.array([1, 2, 3, 4, 5]))
print(series_array)

0    1
1    2
2    3
3    4
4    5
dtype: int64

## Atrybuty Series

Obiekty Series mają kilka użytecznych atrybutów, które pozwalają na uzyskanie informacji o danych:

- index - zwraca indeksy Series.
- values - zwraca wartości Series.
- dtype - zwraca typ danych w Series.

In [8]:
print(series.index)
print(10*'-')

print(series.values)
print(10*'-')

print(series.dtype)

RangeIndex(start=0, stop=5, step=1)
----------
[10 20 30 40 50]
----------
int64

## Indeksowanie i Slicing

Series można indeksować i wycinać podobnie jak listy lub tablice w Pythonie.

In [11]:
print(series[0])

10

In [12]:
print(series[1:4])

1    20
2    30
3    40
dtype: int64

## Operacje na Series

Pandas umożliwia łatwe przeprowadzanie różnych operacji na Series.

In [14]:
print(series + 20)

0    30
1    40
2    50
3    60
4    70
dtype: int64

In [15]:
print(series * 2)

0     20
1     40
2     60
3     80
4    100
dtype: int64

In [18]:
data_with_nan = [1, 2, np.nan, 4, 5]
series_with_nan = pd.Series(data_with_nan)

print(series_with_nan.isnull())
print(series_with_nan.notnull())

0    False
1    False
2     True
3    False
4    False
dtype: bool
0     True
1     True
2    False
3     True
4     True
dtype: bool

In [20]:
data = [10, 20, 30, 40, 50]
series = pd.Series(data)

filtered_series_1 = series[series > 20]
print(filtered_series_1)

2    30
3    40
4    50
dtype: int64

In [21]:
filtered_series_2 = series[series == 40]
print(filtered_series_2)

3    40
dtype: int64

In [23]:
filtered_series_3 = series[(series < 30) | (series == 50)]
print(filtered_series_3)

0    10
1    20
4    50
dtype: int64

In [24]:
filtered_series_4 = series[(series < 40) & (series > 20)]
print(filtered_series_4)

2    30
dtype: int64

In [27]:
print(series.sum())
print(series.mean())
print(series.median())
print(series.std())
print(series.min())
print(series.max())

150
30.0
30.0
15.811388300841896
10
50