# Requirements

1. Which product is returned most often?
2. High rating = customer returns?
3. Sales trend over months.
4. Shipping costs vs sales.

## Preparation

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
source_folder  = 'Source Data'
print(os.listdir(source_folder))

['Costs.xlsx', 'orders.csv', 'order_positions.csv', 'order_ratings.csv', 'order_returns.csv', 'products.csv', 'product_groups.csv']

## Costs

In [3]:
df_costs = pd.read_excel(os.path.join(source_folder, 'Costs.xlsx'), sheet_name='cost_forecast')
print(df_costs.info())
df_costs.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           16 non-null     object
 1   ship           16 non-null     object
 2   cost_forecast  16 non-null     int64
dtypes: int64(1), object(2)
memory usage: 516.0+ bytes
None

    year            ship  cost_forecast
0  Y2018     First Class          70000
1  Y2018        Same Day          30000
2  Y2018    Second Class          70000
3  Y2018  Standard Class         300000
4  Y2019     First Class          70000

## Orders

In [4]:
df_orders = pd.read_csv(os.path.join(source_folder, 'orders.csv'), sep=';')
print(df_orders.info())
df_orders.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5009 entries, 0 to 5008
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   order_id           5009 non-null   int64
 1   customer_id        5009 non-null   int64
 2   order_date         5009 non-null   object
 3   shipping_date      5009 non-null   object
 4   shipping_mode      5009 non-null   object
 5   delivery_country   5009 non-null   object
 6   delivery_city      5009 non-null   object
 7   delivery_state     5009 non-null   object
 8   delivery_zip_code  5009 non-null   int64
 9   return             5009 non-null   int64
dtypes: int64(4), object(6)
memory usage: 391.5+ KB
None

,order_id,customer_id,order_date,shipping_date,shipping_mode,delivery_country,delivery_city,delivery_state,delivery_zip_code,return
0,328,166,04.12.2020,07.12.2020,Second Class,United States,Henderson,Kentucky,42420,37
1,329,262,08.07.2020,12.07.2020,Second Class,United States,Los Angeles,California,90036,1
2,330,728,06.11.2019,13.11.2019,Standard Class,United States,Fort Lauderdale,Florida,33311,47
3,331,111,05.07.2018,10.07.2018,Standard Class,United States,Los Angeles,California,90032,7
4,332,25,11.05.2021,16.05.2021,Standard Class,United States,Concord,North Carolina,28027,14